In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

# Import Datasets

In [32]:
zipcode_prices = pd.read_csv('Resource/Zipcode_price.csv')
zipcode_prices

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,209048.790580,...,471385.326722,470094.099251,469065.556757,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137886.463799,...,527727.482336,529947.403462,532846.215822,537015.420626,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,102129.420943,...,278195.430561,275880.290491,274043.954520,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,150957.229387,...,504476.508141,497473.431981,491025.331919,484268.341352,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,100930.403886,...,270371.788379,268791.042726,267480.620986,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26363,63527,39992,14441,zip,NY,NY,Dresden,"Rochester, NY",Yates County,98733.293971,...,203997.629154,203299.688059,203247.787343,204531.065165,207241.697831,210466.274243,213737.650591,215829.370200,217165.755586,217765.293608
26364,64705,39992,16682,zip,PA,PA,Sproul,"Altoona, PA",Blair County,NaN,...,86278.454325,86832.165964,87954.848271,88072.610686,88484.915505,87950.382628,86886.616685,86710.931485,87230.429629,88193.842825
26365,78282,39992,46799,zip,IN,IN,Zanesville,"Bluffton, IN",Wells County,NaN,...,171785.204593,172278.869632,173070.037653,174675.022328,176416.654253,178391.152561,179556.064307,180277.978136,180385.689165,180585.778036
26366,67377,39992,22731,zip,VA,VA,Aroda,"Washington-Arlington-Alexandria, DC-VA-MD-WV",Madison County,NaN,...,330088.082267,329234.829025,328908.160866,330046.915600,332150.814808,335419.029337,338515.209866,341277.587434,343211.456173,344792.119428
26367,80861,39992,52163,zip,IA,IA,Protivin,NaN,Howard County,NaN,...,101473.464608,100988.775962,100674.945067,101240.943586,103185.258588,105086.855161,106352.274382,107471.572812,107862.160280,108382.404872

In [4]:
zipcode_prices.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2000-01-31',
       ...
       '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
       '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31'],
      dtype='object', length=295)

In [7]:
zipcode_prices_drop_columns = zipcode_prices.drop(columns=["SizeRank", "RegionName", "RegionType", "StateName","Metro", "CountyName","2000-01-31",
      "2000-01-31","2000-02-29","2000-03-31","2000-04-30","2000-05-31","2000-06-30","2000-07-31","2000-08-31","2000-09-30","2000-10-31","2000-11-30","2000-12-31",
    "2001-01-31","2001-02-28","2001-03-31","2001-04-30","2001-05-31","2001-06-30","2001-07-31","2001-08-31","2001-09-30","2001-10-31","2001-11-30","2001-12-31",
    "2002-01-31","2002-02-28","2002-03-31","2002-04-30","2002-05-31","2002-06-30","2002-07-31","2002-08-31","2002-09-30","2002-10-31","2002-11-30","2002-12-31",
    "2003-01-31","2003-02-28","2003-03-31","2003-04-30","2003-05-31","2003-06-30","2003-07-31","2003-08-31","2003-09-30","2003-10-31","2003-11-30","2003-12-31",
    "2004-01-31","2004-02-29","2004-03-31","2004-04-30","2004-05-31","2004-06-30","2004-07-31","2004-08-31","2004-09-30","2004-10-31","2004-11-30","2004-12-31",
    "2005-01-31","2005-02-28","2005-03-31","2005-04-30","2005-05-31","2005-06-30","2005-07-31","2005-08-31","2005-09-30","2005-10-31","2005-11-30","2005-12-31",
    "2006-01-31","2006-02-28","2006-03-31","2006-04-30","2006-05-31","2006-06-30","2006-07-31","2006-08-31","2006-09-30","2006-10-31","2006-11-30","2006-12-31",
    "2007-01-31","2007-02-28","2007-03-31","2007-04-30","2007-05-31","2007-06-30","2007-07-31","2007-08-31","2007-09-30","2007-10-31","2007-11-30","2007-12-31",
    "2008-01-31","2008-02-29","2008-03-31","2008-04-30","2008-05-31","2008-06-30","2008-07-31","2008-08-31","2008-09-30","2008-10-31","2008-11-30","2008-12-31",
    "2009-01-31","2009-02-28","2009-03-31","2009-04-30","2009-05-31","2009-06-30","2009-07-31","2009-08-31","2009-09-30","2009-10-31","2009-11-30","2009-12-31",
    "2010-01-31","2010-02-28","2010-03-31","2010-04-30","2010-05-31","2010-06-30","2010-07-31","2010-08-31","2010-09-30","2010-10-31","2010-11-30","2010-12-31",
    "2011-01-31","2011-02-28","2011-03-31","2011-04-30","2011-05-31","2011-06-30","2011-07-31","2011-08-31","2011-09-30","2011-10-31","2011-11-30","2011-12-31",
    "2012-01-31","2012-02-29","2012-03-31","2012-04-30","2012-05-31","2012-06-30","2012-07-31","2012-08-31","2012-09-30","2012-10-31","2012-11-30","2012-12-31",
    "2013-01-31","2013-02-28","2013-03-31","2013-04-30","2013-05-31","2013-06-30","2013-07-31","2013-08-31","2013-09-30","2013-10-31","2013-11-30","2013-12-31",
    "2014-01-31","2014-02-28","2014-03-31","2014-04-30","2014-05-31","2014-06-30","2014-07-31","2014-08-31","2014-09-30","2014-10-31","2014-11-30","2014-12-31"])
zipcode_prices_drop_columns

,RegionID,State,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,TX,Katy,315979.607120,318135.760431,320439.568215,322251.732338,324003.052819,325200.790648,326151.790672,...,471385.326722,470094.099251,469065.556757,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033
1,61148,NJ,Lakewood,266543.450901,268305.915380,270409.472375,272531.855842,275453.833250,278725.393626,282179.774061,...,527727.482336,529947.403462,532846.215822,537015.420626,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246
2,91940,TX,Katy,143199.864622,144808.192541,146478.017729,147946.993556,149285.423125,150552.975744,151766.986253,...,278195.430561,275880.290491,274043.954520,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121
3,62080,NY,New York,350183.183101,351581.297570,353889.263234,355947.856805,358030.601028,359645.944141,362482.957080,...,504476.508141,497473.431981,491025.331919,484268.341352,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948
4,91733,TX,Houston,142705.380423,144330.928184,146001.090907,147519.380078,148888.749981,150216.241791,151424.687790,...,270371.788379,268791.042726,267480.620986,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26363,63527,NY,Dresden,121861.748329,121790.843086,121840.403639,122617.500304,123434.128658,124454.024580,125025.175360,...,203997.629154,203299.688059,203247.787343,204531.065165,207241.697831,210466.274243,213737.650591,215829.370200,217165.755586,217765.293608
26364,64705,PA,Sproul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86278.454325,86832.165964,87954.848271,88072.610686,88484.915505,87950.382628,86886.616685,86710.931485,87230.429629,88193.842825
26365,78282,IN,Zanesville,89331.000654,89159.304304,88907.410915,88797.942834,88958.438686,89166.549245,89469.790286,...,171785.204593,172278.869632,173070.037653,174675.022328,176416.654253,178391.152561,179556.064307,180277.978136,180385.689165,180585.778036
26366,67377,VA,Aroda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,330088.082267,329234.829025,328908.160866,330046.915600,332150.814808,335419.029337,338515.209866,341277.587434,343211.456173,344792.119428
26367,80861,IA,Protivin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101473.464608,100988.775962,100674.945067,101240.943586,103185.258588,105086.855161,106352.274382,107471.572812,107862.160280,108382.404872

In [9]:
zipcode_prices_drop_columns = zipcode_prices_drop_columns.dropna()
zipcode_prices_drop_columns

,RegionID,State,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,TX,Katy,315979.607120,318135.760431,320439.568215,322251.732338,324003.052819,325200.790648,326151.790672,...,471385.326722,470094.099251,469065.556757,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033
1,61148,NJ,Lakewood,266543.450901,268305.915380,270409.472375,272531.855842,275453.833250,278725.393626,282179.774061,...,527727.482336,529947.403462,532846.215822,537015.420626,542395.542666,548357.302256,554489.247144,560407.160599,566757.356522,574127.832246
2,91940,TX,Katy,143199.864622,144808.192541,146478.017729,147946.993556,149285.423125,150552.975744,151766.986253,...,278195.430561,275880.290491,274043.954520,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121
3,62080,NY,New York,350183.183101,351581.297570,353889.263234,355947.856805,358030.601028,359645.944141,362482.957080,...,504476.508141,497473.431981,491025.331919,484268.341352,477023.811433,471521.583059,469663.049583,469656.984977,469088.685776,467022.345948
4,91733,TX,Houston,142705.380423,144330.928184,146001.090907,147519.380078,148888.749981,150216.241791,151424.687790,...,270371.788379,268791.042726,267480.620986,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26354,100030,WA,Kittitas,133989.236195,134788.326639,134969.672059,135029.511753,135257.491687,135527.834101,135973.028623,...,304245.178454,303627.673572,303684.431732,304973.252665,306832.969148,309083.845870,310957.154515,312720.215301,313231.138909,312442.278725
26357,98183,CA,Camp Meeker,222536.310774,222429.168555,222354.829120,223560.480103,225302.586571,226171.153155,227191.599609,...,446153.854965,448285.330153,452354.525831,457753.174952,463726.747873,468794.767593,471088.424715,470580.548347,465815.796219,462960.751684
26358,67368,VA,Haywood,202227.223856,202719.788479,203038.361866,203799.638337,204268.607979,204818.091487,205133.472689,...,344259.637352,341862.316092,340834.313214,342221.634440,345437.194060,349385.895217,353385.770896,356543.202544,357995.575879,358548.596055
26363,63527,NY,Dresden,121861.748329,121790.843086,121840.403639,122617.500304,123434.128658,124454.024580,125025.175360,...,203997.629154,203299.688059,203247.787343,204531.065165,207241.697831,210466.274243,213737.650591,215829.370200,217165.755586,217765.293608
26365,78282,IN,Zanesville,89331.000654,89159.304304,88907.410915,88797.942834,88958.438686,89166.549245,89469.790286,...,171785.204593,172278.869632,173070.037653,174675.022328,176416.654253,178391.152561,179556.064307,180277.978136,180385.689165,180585.778036

In [16]:
zipcode_prices_drop_columns = zipcode_prices_drop_columns[zipcode_prices_drop_columns["State"]=="TX"]
zipcode_prices_drop_columns

,RegionID,State,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,TX,Katy,315979.607120,318135.760431,320439.568215,322251.732338,324003.052819,325200.790648,326151.790672,...,471385.326722,470094.099251,469065.556757,470268.040235,472257.943107,475361.948918,478138.444450,480601.210512,482411.387838,483644.709033
2,91940,TX,Katy,143199.864622,144808.192541,146478.017729,147946.993556,149285.423125,150552.975744,151766.986253,...,278195.430561,275880.290491,274043.954520,272863.082137,272388.856446,272763.356816,273515.337456,274401.485842,274929.000487,274918.911121
4,91733,TX,Houston,142705.380423,144330.928184,146001.090907,147519.380078,148888.749981,150216.241791,151424.687790,...,270371.788379,268791.042726,267480.620986,266697.212613,266556.111617,267147.680536,267982.228262,268846.207177,269269.787186,269260.239977
5,93144,TX,El Paso,118261.741785,118389.213348,118762.834141,119282.859624,119780.363864,120117.580330,120426.236143,...,194183.512748,194841.550655,195827.987779,197112.322928,199220.853037,201185.953427,202815.935754,204031.945968,204969.245921,205671.722974
7,92593,TX,Pflugerville,202329.890121,204123.183885,206101.503216,207710.115069,209102.573661,210605.268762,212251.119998,...,428313.384187,421730.780802,416458.022046,412677.933004,410247.737085,409181.373844,408234.045731,406973.679546,405133.052510,403383.831527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25431,92603,TX,Tow,109879.517766,111804.290485,113638.678070,114910.966589,115518.491903,115838.839684,115596.248339,...,257074.619716,253502.160601,250449.716497,250604.293827,253198.290170,256439.462740,258665.458820,260615.688054,261292.114485,260657.834317
25648,92283,TX,Floresville,153509.105944,155053.159456,156393.451967,157770.178471,158796.669974,158445.987933,157546.079737,...,229122.022115,227033.380987,225426.401670,225069.950765,225535.143016,226480.285515,226649.666949,226838.924645,226156.125399,225210.245162
25895,92436,TX,Corpus Christi,56260.192674,56568.434669,56934.940619,57396.101870,57847.007516,58319.876477,58825.414376,...,119359.187038,121084.322814,122338.039640,123763.431244,125315.070754,127120.296257,128290.354003,129190.200791,129188.078059,128565.421538
26235,92406,TX,Fulton,140782.247900,141424.522845,142036.252489,143370.421405,145746.847606,148373.586585,150063.046789,...,264775.832889,262268.987859,261412.522723,261506.563968,262929.946252,265401.733397,267224.148542,268603.523201,269305.499343,269167.779024
26324,92929,TX,Ransom Canyon,219241.923036,220269.879138,221180.133208,221909.673912,221999.362801,221002.368456,219219.130701,...,353377.365932,352578.176196,352018.775804,352536.882447,354486.826627,357616.621579,359844.277823,360648.209143,360846.038038,360315.249913

In [72]:
zipcode_prices_drop_columns = zipcode_prices_drop_columns.rename(columns={'State':'state'})

In [73]:
zipcode_prices_drop_columns.to_csv("output/TX_monthly_House_Pricing.csv", index=False)

In [21]:
Avg_TX_prices = zipcode_prices_drop_columns.copy()

In [22]:
Avg_TX_prices["2015"] = Avg_TX_prices.loc[:, ("2015-01-31","2015-02-28","2015-03-31",
                                                     "2015-04-30","2015-05-31","2015-06-30","2015-07-31","2015-08-31",
                                                     "2015-09-30","2015-10-31","2015-11-30","2015-12-31")].mean(axis = 1)
Avg_TX_prices["2016"] = Avg_TX_prices.loc[:, ("2016-01-31","2016-02-29","2016-03-31",
                                                     "2016-04-30","2016-05-31","2016-06-30","2016-07-31","2016-08-31",
                                                     "2016-09-30","2016-10-31","2016-11-30","2016-12-31")].mean(axis = 1)
Avg_TX_prices["2017"] = Avg_TX_prices.loc[:, ("2017-01-31","2017-02-28","2017-03-31",
                                                     "2017-04-30","2017-05-31","2017-06-30","2017-07-31","2017-08-31",
                                                     "2017-09-30","2017-10-31","2017-11-30","2017-12-31")].mean(axis = 1)
Avg_TX_prices["2018"] = Avg_TX_prices.loc[:, ("2018-01-31","2018-02-28","2018-03-31",
                                                     "2018-04-30","2018-05-31","2018-06-30","2018-07-31","2018-08-31",
                                                     "2018-09-30","2018-10-31","2018-11-30","2018-12-31")].mean(axis = 1)
Avg_TX_prices["2019"] = Avg_TX_prices.loc[:, ("2019-01-31","2019-02-28","2019-03-31",
                                                     "2019-04-30","2019-05-31","2019-06-30","2019-07-31","2019-08-31",
                                                     "2019-09-30","2019-10-31","2019-11-30","2019-12-31")].mean(axis = 1)
Avg_TX_prices["2020"] = Avg_TX_prices.loc[:, ("2020-01-31","2020-02-29","2020-03-31",
                                                     "2020-04-30","2020-05-31","2020-06-30","2020-07-31","2020-08-31",
                                                     "2020-09-30","2020-10-31","2020-11-30","2020-12-31")].mean(axis = 1)
Avg_TX_prices["2021"] = Avg_TX_prices.loc[:, ("2021-01-31","2021-02-28","2021-03-31",
                                                     "2021-04-30","2021-05-31","2021-06-30","2021-07-31","2021-08-31",
                                                     "2021-09-30","2021-10-31","2021-11-30","2021-12-31")].mean(axis = 1)
Avg_TX_prices["2022"] = Avg_TX_prices.loc[:, ("2022-01-31","2022-02-28","2022-03-31",
                                                     "2022-04-30","2022-05-31","2022-06-30","2022-07-31","2022-08-31",
                                                     "2022-09-30","2022-10-31","2022-11-30","2022-12-31")].mean(axis = 1)
Avg_TX_prices["2023"] = Avg_TX_prices.loc[:, ("2023-01-31","2023-02-28","2023-03-31",
                                                     "2023-04-30","2023-05-31","2023-06-30","2023-07-31","2023-08-31",
                                                     "2023-09-30","2023-10-31")].mean(axis = 1)

In [24]:
Avg_TX_prices.columns

Index(['RegionID', 'State', 'City', '2015-01-31', '2015-02-28', '2015-03-31',
       '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31',
       ...
       '2023-10-31', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023'],
      dtype='object', length=118)

In [29]:
Avg_TX_prices = Avg_TX_prices[['RegionID', 'State', 'City','2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023']]
Avg_TX_prices

,RegionID,State,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,91982,TX,Katy,324287.515039,321896.293200,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2,91940,TX,Katy,151032.566765,163981.262606,170701.620906,178898.514943,186724.249020,194306.533420,223289.632501,273262.435954,274389.970588
4,91733,TX,Houston,150282.391882,161698.096385,168185.802473,173451.655144,182589.902424,191187.777675,219787.173817,264213.926930,268240.291946
5,93144,TX,El Paso,120197.975914,122715.876408,126302.678661,128403.432487,132271.221461,140227.003350,159298.832077,184177.530350,199986.103119
7,92593,TX,Pflugerville,211747.344863,232034.453763,244580.152881,252484.659231,258251.741316,275712.956017,372372.389819,458127.731705,412233.384028
...,...,...,...,...,...,...,...,...,...,...,...,...
25431,92603,TX,Tow,114991.798554,119147.291082,125747.675119,139400.887446,144794.195205,158068.483533,201290.678590,260394.836181,256249.963923
25648,92283,TX,Floresville,157067.108462,160683.048999,164035.886674,168614.712342,166364.047559,179562.966414,205451.604664,231808.201009,226352.214622
25895,92436,TX,Corpus Christi,59388.664316,65271.330088,70352.498812,71425.556735,70972.071205,77585.071280,91254.151819,112159.131369,125421.440214
26235,92406,TX,Fulton,148663.954251,160959.719030,169848.918482,180532.671206,186093.906321,202669.510624,233477.383169,262986.381737,265259.653720
26324,92929,TX,Ransom Canyon,218011.690820,219521.290079,244676.172931,270719.947018,272334.134761,282684.520257,309244.013317,348333.333670,356426.842350

In [105]:
Avg_TX_prices = Avg_TX_prices.rename(columns={'State':'state','RegionID':'zipcode'})
Avg_TX_prices

,zipcode,state,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,91982,TX,Katy,324287.515039,321896.293200,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2,91940,TX,Katy,151032.566765,163981.262606,170701.620906,178898.514943,186724.249020,194306.533420,223289.632501,273262.435954,274389.970588
4,91733,TX,Houston,150282.391882,161698.096385,168185.802473,173451.655144,182589.902424,191187.777675,219787.173817,264213.926930,268240.291946
5,93144,TX,El Paso,120197.975914,122715.876408,126302.678661,128403.432487,132271.221461,140227.003350,159298.832077,184177.530350,199986.103119
7,92593,TX,Pflugerville,211747.344863,232034.453763,244580.152881,252484.659231,258251.741316,275712.956017,372372.389819,458127.731705,412233.384028
...,...,...,...,...,...,...,...,...,...,...,...,...
25431,92603,TX,Tow,114991.798554,119147.291082,125747.675119,139400.887446,144794.195205,158068.483533,201290.678590,260394.836181,256249.963923
25648,92283,TX,Floresville,157067.108462,160683.048999,164035.886674,168614.712342,166364.047559,179562.966414,205451.604664,231808.201009,226352.214622
25895,92436,TX,Corpus Christi,59388.664316,65271.330088,70352.498812,71425.556735,70972.071205,77585.071280,91254.151819,112159.131369,125421.440214
26235,92406,TX,Fulton,148663.954251,160959.719030,169848.918482,180532.671206,186093.906321,202669.510624,233477.383169,262986.381737,265259.653720
26324,92929,TX,Ransom Canyon,218011.690820,219521.290079,244676.172931,270719.947018,272334.134761,282684.520257,309244.013317,348333.333670,356426.842350

In [138]:
Avg_TX_prices_doplicate = Avg_TX_prices.drop_duplicates(subset=['zipcode'])
Avg_TX_prices_doplicate

,zipcode,state,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,91982,TX,Katy,324287.515039,321896.293200,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2,91940,TX,Katy,151032.566765,163981.262606,170701.620906,178898.514943,186724.249020,194306.533420,223289.632501,273262.435954,274389.970588
4,91733,TX,Houston,150282.391882,161698.096385,168185.802473,173451.655144,182589.902424,191187.777675,219787.173817,264213.926930,268240.291946
5,93144,TX,El Paso,120197.975914,122715.876408,126302.678661,128403.432487,132271.221461,140227.003350,159298.832077,184177.530350,199986.103119
7,92593,TX,Pflugerville,211747.344863,232034.453763,244580.152881,252484.659231,258251.741316,275712.956017,372372.389819,458127.731705,412233.384028
...,...,...,...,...,...,...,...,...,...,...,...,...
25431,92603,TX,Tow,114991.798554,119147.291082,125747.675119,139400.887446,144794.195205,158068.483533,201290.678590,260394.836181,256249.963923
25648,92283,TX,Floresville,157067.108462,160683.048999,164035.886674,168614.712342,166364.047559,179562.966414,205451.604664,231808.201009,226352.214622
25895,92436,TX,Corpus Christi,59388.664316,65271.330088,70352.498812,71425.556735,70972.071205,77585.071280,91254.151819,112159.131369,125421.440214
26235,92406,TX,Fulton,148663.954251,160959.719030,169848.918482,180532.671206,186093.906321,202669.510624,233477.383169,262986.381737,265259.653720
26324,92929,TX,Ransom Canyon,218011.690820,219521.290079,244676.172931,270719.947018,272334.134761,282684.520257,309244.013317,348333.333670,356426.842350

In [106]:
Avg_TX_prices.to_csv("output/TX_AVG_House_Pricing.csv", index=False)

In [37]:
zipcode_income = pd.read_csv('Resource/zipcode-income.csv')
zipcode_income

,statefips,state,zipcode,agi_stub,n1,mars1,mars2,mars4,prep,n2,...,a10300,n85530,a85530,n85300,a85300,n11901,a11901,n11902,a11902,year
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,330066,0,0,0,0,63420,51444,711580,1831661,2016
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,984297,0,0,0,0,74090,110889,416090,1173463,2016
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,1349246,0,0,0,0,64000,143060,195130,543284,2016
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,1425430,0,0,0,0,45020,128920,117410,381329,2016
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,3922449,390,155,60,19,82940,423629,126130,506526,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179791,56,WY,99999,2,2020,1100,620,260,1140,3670,...,5088,0,0,0,0,290,489,1610,4057,2016
179792,56,WY,99999,3,1330,570,630,130,820,2720,...,7819,0,0,0,0,280,574,940,2625,2016
179793,56,WY,99999,4,910,280,580,60,640,2070,...,8850,0,0,0,0,210,740,610,2195,2016
179794,56,WY,99999,5,1270,240,1010,40,950,3170,...,24173,0,0,0,0,410,2520,680,3690,2016
179795,56,WY,99999,6,390,90,330,0,380,970,...,71985,90,136,260,1982,180,6420,80,14096,2016

In [38]:
zipcode_income.columns

Index(['statefips', 'state', 'zipcode', 'agi_stub', 'n1', 'mars1', 'mars2',
       'mars4', 'prep', 'n2',
       ...
       'a10300', 'n85530', 'a85530', 'n85300', 'a85300', 'n11901', 'a11901',
       'n11902', 'a11902', 'year'],
      dtype='object', length=148)

In [39]:
zipcode_income = zipcode_income[['state', 'zipcode','a02650']]

In [62]:
zipcode_income_drop = zipcode_income.dropna()

In [63]:
TX_income = zipcode_income_drop[zipcode_income_drop['state']=='TX' ]

In [48]:
TX_income = TX_income[TX_income['zipcode'] != 0 ]
TX_income

       state  zipcode   a02650
141093    TX    75001    31081
141094    TX    75001    90700
141095    TX    75001   102876
141096    TX    75001    85846
141097    TX    75001   168009
...      ...      ...      ...
179749    TX    99999  1755394
179750    TX    99999  1610863
179751    TX    99999  1364920
179752    TX    99999  3308250
179753    TX    99999  8314465

[10557 rows x 3 columns]

In [108]:
TX_income = TX_income.rename(columns = {'a02650':'Net_Income'})
TX_income

       state  zipcode  AVG_income
258       TX        0    59073104
259       TX        0   108291283
260       TX        0    96437092
261       TX        0    83866756
262       TX        0   194078135
...      ...      ...         ...
179749    TX    99999     1755394
179750    TX    99999     1610863
179751    TX    99999     1364920
179752    TX    99999     3308250
179753    TX    99999     8314465

[10563 rows x 3 columns]

In [109]:
TX_Income = TX_income[TX_income['zipcode'] != 0 ]
TX_Income

       state  zipcode  AVG_income
141093    TX    75001       31081
141094    TX    75001       90700
141095    TX    75001      102876
141096    TX    75001       85846
141097    TX    75001      168009
...      ...      ...         ...
179749    TX    99999     1755394
179750    TX    99999     1610863
179751    TX    99999     1364920
179752    TX    99999     3308250
179753    TX    99999     8314465

[10557 rows x 3 columns]

In [111]:
TX_Income = TX_Income.rename(columns = {'AVG_income':'Net_Income'})
TX_Income

       state  zipcode  Net_Income
141093    TX    75001       31081
141094    TX    75001       90700
141095    TX    75001      102876
141096    TX    75001       85846
141097    TX    75001      168009
...      ...      ...         ...
179749    TX    99999     1755394
179750    TX    99999     1610863
179751    TX    99999     1364920
179752    TX    99999     3308250
179753    TX    99999     8314465

[10557 rows x 3 columns]

In [139]:
TX_Income_dup = TX_Income.drop_duplicates(subset=['zipcode'])
TX_Income_dup

       state  zipcode  Net_Income
141093    TX    75001       31081
141099    TX    75002       97936
141105    TX    75006      115491
141111    TX    75007      100570
141117    TX    75009       16893
...      ...      ...         ...
151620    TX    79934       52143
151626    TX    79935       47940
151632    TX    79936      301052
151638    TX    79938      180180
179748    TX    99999      946699

[1760 rows x 3 columns]

In [140]:
TX_Income_dup.to_csv("output/TX_income.csv", index=False)

In [50]:
zipcode_population = pd.read_csv('Resource/uszips-population.csv')
zipcode_population

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ""72003"": 0.12}",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,13.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,917.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1445.0,4.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,11.0,0.9,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2161.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [51]:
zipcode_population.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [54]:
zipcode_population_co = zipcode_population[['zip', 'lat', 'lng', 'city', 'state_id','population', 'density']]

In [58]:
zipcode_population_co = zipcode_population_co.rename(columns={'state_id':'state'})

In [59]:
zipcode_population_co = zipcode_population_co.dropna()

In [60]:
TX_population = zipcode_population_co[zipcode_population_co['state']=='TX' ]

In [115]:
TX_population_long_lat = TX_population.rename(columns={'zip':'zipcode','lat':'latitude','lng':'longitude'})
TX_population_long_lat

       zipcode  latitude  longitude        city state  population  density
26020    73960  36.49167 -101.79265     Texhoma    TX        33.0     21.0
26360    75001  32.96015  -96.83808     Addison    TX     16287.0   1675.8
26361    75002  33.08946  -96.60639       Allen    TX     71102.0    730.5
26362    75006  32.96165  -96.89717  Carrollton    TX     48104.0   1087.9
26363    75007  33.00498  -96.89590  Carrollton    TX     54448.0   1765.6
...        ...       ...        ...         ...   ...         ...      ...
28344    79932  31.87753 -106.60680     El Paso    TX     28594.0    804.6
28345    79934  31.95206 -106.43400     El Paso    TX     26916.0    175.8
28346    79935  31.76804 -106.33029     El Paso    TX     19073.0   2124.8
28347    79936  31.77373 -106.29631     El Paso    TX    107579.0   1603.8
28348    79938  31.85764 -106.03895     El Paso    TX     91575.0     90.6

[1990 rows x 7 columns]

In [116]:
TX_population_long_lat.to_csv("output/TX_population_lat_long.csv", index=False)

In [77]:
zipcode_rent = pd.read_csv('Resource/monthly_rent.csv')
zipcode_rent

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1533.781806,...,1934.090434,1949.723247,1956.493443,1925.575173,1932.090054,1940.246370,1954.318896,1961.717063,1963.953575,1960.639949
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1278.212564,...,1765.351908,1774.736471,1785.942634,1789.444729,1793.972561,1803.828789,1811.831529,1825.048955,1828.685389,1816.016818
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1758.050196,1757.912442,1775.708732,1787.466792,1804.430677,1808.999546,1806.113225,1809.919135,1807.499078,1836.450233
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1479.847709,1493.541496,1486.377152,1474.990443,1481.478607,1485.279298,1510.070417,1507.930792,1514.774257,1515.904139
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2888.646778,2868.874883,2879.565487,2906.094337,2956.227481,2998.052060,3027.935978,3056.291686,3073.506703,3058.631665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6585,62309,27438,11962,zip,NY,NY,Sagaponack,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70166.500000
6586,60648,27708,7311,zip,NJ,NJ,Jersey City,"New York-Newark-Jersey City, NY-NJ-PA",Hudson County,NaN,...,3753.710670,3758.596686,3774.164368,3823.179448,3894.328934,3941.438031,3952.047279,3945.245316,3923.236251,3921.619048
6587,62320,29467,11975,zip,NY,NY,Wainscott,"New York-Newark-Jersey City, NY-NJ-PA",Suffolk County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32500.000000
6588,91179,30490,76005,zip,TX,TX,Arlington,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,2096.420232,2120.926241,2186.099677,2317.270330,2322.139214,2367.686928,2338.426606,2340.276297,2277.047934,2234.742857
6589,61618,30490,10004,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,...,4093.477763,4098.619807,4185.470686,4327.605570,4343.845229,4391.609575,4374.904454,4460.249101,4461.059277,4559.722222

In [76]:
zipcode_rent.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2015-01-31',
       ...
       '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
       '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31'],
      dtype='object', length=115)

In [79]:
zipcode_rent_TX = zipcode_rent[zipcode_rent["State"]=="TX"]

In [81]:
zipcode_rent_TX = zipcode_rent_TX.dropna()

In [82]:
zipcode_rent_TX

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1533.781806,...,1934.090434,1949.723247,1956.493443,1925.575173,1932.090054,1940.246370,1954.318896,1961.717063,1963.953575,1960.639949
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1278.212564,...,1765.351908,1774.736471,1785.942634,1789.444729,1793.972561,1803.828789,1811.831529,1825.048955,1828.685389,1816.016818
7,91926,11,77433,zip,TX,TX,Cypress,"Houston-The Woodlands-Sugar Land, TX",Harris County,1333.769380,...,1882.858323,1883.021611,1875.609570,1866.046582,1858.182021,1888.281148,1919.071612,1945.112782,1977.466263,1962.549167
20,92036,25,77573,zip,TX,TX,League City,"Houston-The Woodlands-Sugar Land, TX",Galveston County,1269.796351,...,1688.299164,1697.156550,1720.145247,1731.085808,1757.218822,1784.056250,1806.674710,1820.056349,1814.040386,1808.024302
24,90654,30,75052,zip,TX,TX,Grand Prairie,"Dallas-Fort Worth-Arlington, TX",Dallas County,1125.543347,...,1807.316625,1808.564831,1799.505421,1797.661787,1789.967788,1784.534543,1791.250605,1794.014695,1812.282674,1816.316164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3031,90757,3346,75204,zip,TX,TX,Dallas,"Dallas-Fort Worth-Arlington, TX",Dallas County,1457.968935,...,1980.217570,1975.039162,1985.081857,1998.396125,2030.795575,2053.102267,2060.239926,2058.906428,2043.575528,2027.395961
3084,91252,3409,76107,zip,TX,TX,Fort Worth,"Dallas-Fort Worth-Arlington, TX",Tarrant County,1113.712101,...,1716.575471,1704.216311,1727.855453,1765.949424,1814.928739,1823.775904,1825.755599,1814.968039,1832.888843,1831.740690
3917,91254,4509,76109,zip,TX,TX,Fort Worth,"Dallas-Fort Worth-Arlington, TX",Tarrant County,1547.471514,...,2195.683778,2258.297807,2258.545296,2278.851381,2269.688390,2312.115816,2359.104524,2331.167304,2304.998270,2292.640444
4514,90771,5379,75219,zip,TX,TX,Dallas,"Dallas-Fort Worth-Arlington, TX",Dallas County,1380.888302,...,2029.856913,2024.983057,2050.345260,2037.914339,2058.545967,2061.159559,2076.580043,2088.911598,2096.626649,2111.888889
4756,92616,5759,78703,zip,TX,TX,Austin,"Austin-Round Rock-Georgetown, TX",Travis County,1421.084545,...,2346.999663,2314.633520,2278.031229,2280.678833,2299.971870,2341.405955,2354.607835,2337.105297,2258.982150,2269.305322

In [83]:
zipcode_rent_TX.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2015-01-31',
       ...
       '2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
       '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30', '2023-10-31'],
      dtype='object', length=115)

In [85]:
zipcode_rent_TX_co = zipcode_rent_TX.drop(columns=["SizeRank", "RegionName", "RegionType", "StateName","Metro", "CountyName"])
zipcode_rent_TX_co

,RegionID,State,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31
0,91982,TX,Katy,1533.781806,1540.084527,1549.101909,1556.958156,1560.107120,1563.736749,1572.009521,...,1934.090434,1949.723247,1956.493443,1925.575173,1932.090054,1940.246370,1954.318896,1961.717063,1963.953575,1960.639949
1,91940,TX,Katy,1278.212564,1275.649783,1282.818276,1293.844236,1304.520011,1314.584489,1317.702864,...,1765.351908,1774.736471,1785.942634,1789.444729,1793.972561,1803.828789,1811.831529,1825.048955,1828.685389,1816.016818
7,91926,TX,Cypress,1333.769380,1329.108804,1335.944268,1344.154150,1345.003003,1350.358446,1365.368604,...,1882.858323,1883.021611,1875.609570,1866.046582,1858.182021,1888.281148,1919.071612,1945.112782,1977.466263,1962.549167
20,92036,TX,League City,1269.796351,1271.360834,1284.845360,1292.784227,1299.107303,1307.209832,1314.163021,...,1688.299164,1697.156550,1720.145247,1731.085808,1757.218822,1784.056250,1806.674710,1820.056349,1814.040386,1808.024302
24,90654,TX,Grand Prairie,1125.543347,1131.168588,1148.012282,1155.920765,1167.674877,1171.990701,1176.427739,...,1807.316625,1808.564831,1799.505421,1797.661787,1789.967788,1784.534543,1791.250605,1794.014695,1812.282674,1816.316164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3031,90757,TX,Dallas,1457.968935,1482.808973,1480.013363,1483.868064,1482.082435,1485.467545,1506.409343,...,1980.217570,1975.039162,1985.081857,1998.396125,2030.795575,2053.102267,2060.239926,2058.906428,2043.575528,2027.395961
3084,91252,TX,Fort Worth,1113.712101,1106.966890,1116.153408,1127.118621,1154.668889,1177.852524,1171.290654,...,1716.575471,1704.216311,1727.855453,1765.949424,1814.928739,1823.775904,1825.755599,1814.968039,1832.888843,1831.740690
3917,91254,TX,Fort Worth,1547.471514,1541.428946,1527.624242,1551.326248,1507.164603,1507.066941,1462.989963,...,2195.683778,2258.297807,2258.545296,2278.851381,2269.688390,2312.115816,2359.104524,2331.167304,2304.998270,2292.640444
4514,90771,TX,Dallas,1380.888302,1383.622880,1399.263754,1428.353411,1453.174132,1451.663655,1480.600301,...,2029.856913,2024.983057,2050.345260,2037.914339,2058.545967,2061.159559,2076.580043,2088.911598,2096.626649,2111.888889
4756,92616,TX,Austin,1421.084545,1412.148652,1440.043243,1432.117404,1456.293051,1475.811261,1502.763589,...,2346.999663,2314.633520,2278.031229,2280.678833,2299.971870,2341.405955,2354.607835,2337.105297,2258.982150,2269.305322

In [88]:
AVG_TX_rent = zipcode_rent_TX_co.copy()

In [89]:
AVG_TX_rent["2015"] = AVG_TX_rent.loc[:, ("2015-01-31","2015-02-28","2015-03-31",
                                                     "2015-04-30","2015-05-31","2015-06-30","2015-07-31","2015-08-31",
                                                     "2015-09-30","2015-10-31","2015-11-30","2015-12-31")].mean(axis = 1)
AVG_TX_rent["2016"] = AVG_TX_rent.loc[:, ("2016-01-31","2016-02-29","2016-03-31",
                                                     "2016-04-30","2016-05-31","2016-06-30","2016-07-31","2016-08-31",
                                                     "2016-09-30","2016-10-31","2016-11-30","2016-12-31")].mean(axis = 1)
AVG_TX_rent["2017"] = AVG_TX_rent.loc[:, ("2017-01-31","2017-02-28","2017-03-31",
                                                     "2017-04-30","2017-05-31","2017-06-30","2017-07-31","2017-08-31",
                                                     "2017-09-30","2017-10-31","2017-11-30","2017-12-31")].mean(axis = 1)
AVG_TX_rent["2018"] = AVG_TX_rent.loc[:, ("2018-01-31","2018-02-28","2018-03-31",
                                                     "2018-04-30","2018-05-31","2018-06-30","2018-07-31","2018-08-31",
                                                     "2018-09-30","2018-10-31","2018-11-30","2018-12-31")].mean(axis = 1)
AVG_TX_rent["2019"] = AVG_TX_rent.loc[:, ("2019-01-31","2019-02-28","2019-03-31",
                                                     "2019-04-30","2019-05-31","2019-06-30","2019-07-31","2019-08-31",
                                                     "2019-09-30","2019-10-31","2019-11-30","2019-12-31")].mean(axis = 1)
AVG_TX_rent["2020"] = AVG_TX_rent.loc[:, ("2020-01-31","2020-02-29","2020-03-31",
                                                     "2020-04-30","2020-05-31","2020-06-30","2020-07-31","2020-08-31",
                                                     "2020-09-30","2020-10-31","2020-11-30","2020-12-31")].mean(axis = 1)
AVG_TX_rent["2021"] = AVG_TX_rent.loc[:, ("2021-01-31","2021-02-28","2021-03-31",
                                                     "2021-04-30","2021-05-31","2021-06-30","2021-07-31","2021-08-31",
                                                     "2021-09-30","2021-10-31","2021-11-30","2021-12-31")].mean(axis = 1)
AVG_TX_rent["2022"] = AVG_TX_rent.loc[:, ("2022-01-31","2022-02-28","2022-03-31",
                                                     "2022-04-30","2022-05-31","2022-06-30","2022-07-31","2022-08-31",
                                                     "2022-09-30","2022-10-31","2022-11-30","2022-12-31")].mean(axis = 1)
AVG_TX_rent["2023"] = AVG_TX_rent.loc[:, ("2023-01-31","2023-02-28","2023-03-31",
                                                     "2023-04-30","2023-05-31","2023-06-30","2023-07-31","2023-08-31",
                                                     "2023-09-30","2023-10-31")].mean(axis = 1)

In [90]:
AVG_TX_rent = AVG_TX_rent[['RegionID', 'State', 'City','2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023']]

In [92]:
AVG_TX_rent = AVG_TX_rent.rename(columns={'RegionID':'zipcode','State':'state'})

In [93]:
AVG_TX_rent

,zipcode,state,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,91982,TX,Katy,1551.579613,1484.999252,1498.940925,1535.029084,1550.804285,1580.626508,1719.720065,1892.643994,1947.884820
1,91940,TX,Katy,1306.087442,1315.392091,1326.844572,1376.266235,1391.070189,1434.934083,1590.597540,1763.251974,1799.485978
7,91926,TX,Cypress,1357.268692,1370.242741,1394.595130,1447.160207,1466.825633,1519.863381,1676.441459,1860.595840,1905.819908
20,92036,TX,League City,1301.541532,1338.761106,1367.712736,1412.626103,1432.364646,1456.297469,1549.130881,1701.434026,1762.675759
24,90654,TX,Grand Prairie,1163.326855,1227.539028,1289.978405,1346.062197,1388.599336,1425.519888,1589.928764,1792.225724,1800.141514
...,...,...,...,...,...,...,...,...,...,...,...,...
3031,90757,TX,Dallas,1500.150319,1572.691692,1627.307743,1656.834365,1687.484834,1666.318216,1781.358517,1997.956267,2021.275040
3084,91252,TX,Fort Worth,1147.229843,1242.286414,1310.245761,1376.793495,1438.878200,1452.030321,1535.187260,1727.960764,1785.865447
3917,91254,TX,Fort Worth,1531.428064,1622.547509,1703.602911,1769.893507,1810.908910,1830.292536,1959.050554,2213.112847,2286.109301
4514,90771,TX,Dallas,1446.379199,1511.446929,1552.169192,1627.727044,1670.186111,1674.799992,1796.372335,2026.425376,2063.681227
4756,92616,TX,Austin,1465.887656,1544.795352,1610.824391,1675.389002,1783.932786,1778.975730,2040.321561,2313.214005,2308.172168

In [95]:
AVG_TX_rent.columns

Index(['zipcode', 'state', 'City', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023'],
      dtype='object')

In [98]:
AVG_TX_rent = AVG_TX_rent.rename(columns={'2015':'R_2015', '2016':'R_2016', '2017':'R_2017', '2018':'R_2018', '2019':'R_2019',
       '2020':'R_2020', '2021':'R_2021', '2022':'R_2022', '2023':'R_2023'})

In [100]:
AVG_TX_rent = AVG_TX_rent.rename(columns={'R2016':'R_2016'})
AVG_TX_rent

,zipcode,state,City,R_2015,R_2016,R_2017,R_2018,R_2019,R_2020,R_2021,R_2022,R_2023
0,91982,TX,Katy,1551.579613,1484.999252,1498.940925,1535.029084,1550.804285,1580.626508,1719.720065,1892.643994,1947.884820
1,91940,TX,Katy,1306.087442,1315.392091,1326.844572,1376.266235,1391.070189,1434.934083,1590.597540,1763.251974,1799.485978
7,91926,TX,Cypress,1357.268692,1370.242741,1394.595130,1447.160207,1466.825633,1519.863381,1676.441459,1860.595840,1905.819908
20,92036,TX,League City,1301.541532,1338.761106,1367.712736,1412.626103,1432.364646,1456.297469,1549.130881,1701.434026,1762.675759
24,90654,TX,Grand Prairie,1163.326855,1227.539028,1289.978405,1346.062197,1388.599336,1425.519888,1589.928764,1792.225724,1800.141514
...,...,...,...,...,...,...,...,...,...,...,...,...
3031,90757,TX,Dallas,1500.150319,1572.691692,1627.307743,1656.834365,1687.484834,1666.318216,1781.358517,1997.956267,2021.275040
3084,91252,TX,Fort Worth,1147.229843,1242.286414,1310.245761,1376.793495,1438.878200,1452.030321,1535.187260,1727.960764,1785.865447
3917,91254,TX,Fort Worth,1531.428064,1622.547509,1703.602911,1769.893507,1810.908910,1830.292536,1959.050554,2213.112847,2286.109301
4514,90771,TX,Dallas,1446.379199,1511.446929,1552.169192,1627.727044,1670.186111,1674.799992,1796.372335,2026.425376,2063.681227
4756,92616,TX,Austin,1465.887656,1544.795352,1610.824391,1675.389002,1783.932786,1778.975730,2040.321561,2313.214005,2308.172168

In [101]:
AVG_TX_rent.to_csv("output/AVG_TX_rent.csv", index=False)

In [126]:
TX_data_p = TX_population_long_lat.merge(Avg_TX_prices, how='inner', on='state')
TX_data_p

,zipcode_x,latitude,longitude,city,state,population,density,zipcode_y,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,91982,Katy,324287.515039,321896.293200,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
1,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,91940,Katy,151032.566765,163981.262606,170701.620906,178898.514943,186724.249020,194306.533420,223289.632501,273262.435954,274389.970588
2,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,91733,Houston,150282.391882,161698.096385,168185.802473,173451.655144,182589.902424,191187.777675,219787.173817,264213.926930,268240.291946
3,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,93144,El Paso,120197.975914,122715.876408,126302.678661,128403.432487,132271.221461,140227.003350,159298.832077,184177.530350,199986.103119
4,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,92593,Pflugerville,211747.344863,232034.453763,244580.152881,252484.659231,258251.741316,275712.956017,372372.389819,458127.731705,412233.384028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2340235,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,92603,Tow,114991.798554,119147.291082,125747.675119,139400.887446,144794.195205,158068.483533,201290.678590,260394.836181,256249.963923
2340236,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,92283,Floresville,157067.108462,160683.048999,164035.886674,168614.712342,166364.047559,179562.966414,205451.604664,231808.201009,226352.214622
2340237,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,92436,Corpus Christi,59388.664316,65271.330088,70352.498812,71425.556735,70972.071205,77585.071280,91254.151819,112159.131369,125421.440214
2340238,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,92406,Fulton,148663.954251,160959.719030,169848.918482,180532.671206,186093.906321,202669.510624,233477.383169,262986.381737,265259.653720
2340239,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,92929,Ransom Canyon,218011.690820,219521.290079,244676.172931,270719.947018,272334.134761,282684.520257,309244.013317,348333.333670,356426.842350

In [127]:
TX_data_drop = TX_data_p.drop_duplicates(subset=['zipcode_x'])

In [128]:
TX_data_d = TX_data_drop.dropna()

In [131]:
TX_data_d

,zipcode_x,latitude,longitude,city,state,population,density,zipcode_y,City,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,73960,36.49167,-101.79265,Texhoma,TX,33.0,21.0,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
1176,75001,32.96015,-96.83808,Addison,TX,16287.0,1675.8,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2352,75002,33.08946,-96.60639,Allen,TX,71102.0,730.5,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
3528,75006,32.96165,-96.89717,Carrollton,TX,48104.0,1087.9,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
4704,75007,33.00498,-96.89590,Carrollton,TX,54448.0,1765.6,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334360,79932,31.87753,-106.60680,El Paso,TX,28594.0,804.6,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2335536,79934,31.95206,-106.43400,El Paso,TX,26916.0,175.8,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2336712,79935,31.76804,-106.33029,El Paso,TX,19073.0,2124.8,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2337888,79936,31.77373,-106.29631,El Paso,TX,107579.0,1603.8,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682
2339064,79938,31.85764,-106.03895,El Paso,TX,91575.0,90.6,91982,Katy,324287.515039,321896.2932,316498.139655,320464.572048,323809.517111,330947.170852,381345.907007,463206.781614,475322.866682

In [137]:
TX_data_d.to_csv("output/TX_data.csv", index=False)

In [135]:
d = TX_Income.drop_duplicates(subset=['zipcode'])
d

       state  zipcode  Net_Income
141093    TX    75001       31081
141099    TX    75002       97936
141105    TX    75006      115491
141111    TX    75007      100570
141117    TX    75009       16893
...      ...      ...         ...
151620    TX    79934       52143
151626    TX    79935       47940
151632    TX    79936      301052
151638    TX    79938      180180
179748    TX    99999      946699

[1760 rows x 3 columns]