In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [4]:
# Access the database from AWS
# Query each tabel
# Create DataFrame for each tabel 
import pandas as pd
from sqlalchemy import create_engine
# Set up database connection parameters
db_url = "database-project-4.coiydcjowrsi.us-west-2.rds.amazonaws.com"
db_port = 5432
db_name = "database_project4"
db_user = "......."
db_password = "........"
# Create a database connection
engine = create_engine(f"postgresql://{db_user}:{db_password}@{db_url}:{db_port}/{db_name}")
# Query the database using Pandas
query_price = "SELECT * FROM price"
query_room = "SELECT * FROM room"
query_locations = "SELECT * FROM locations"
price_df = pd.read_sql_query(query_price, engine)
room_df = pd.read_sql_query(query_room, engine)
locations_df = pd.read_sql_query(query_locations, engine)
# Close the database connection
engine.dispose()

In [5]:
# Check price tabel
price_df.head(5)

,zipcode,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,net_income
0,75001,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,31081.0
1,75002,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,97936.0
2,75006,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,115491.0
3,75007,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,100570.0
4,75009,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,16893.0

In [6]:
# Check room table tabel
room_df.head(5)

,zipcode,bedroom_number,bathroom_number,lining_space,land_space,year_built
0,75001,2.0,3.0,1981.0,1873.0,2003.0
1,75002,4.0,3.0,3044.0,3827.0,1976.0
2,75006,3.0,2.0,1938.0,5075.0,2001.0
3,75007,3.0,2.0,2049.0,6753.0,1915.0
4,75009,4.0,4.0,3153.0,5374.0,2000.0

In [7]:
# Check locations tabel
locations_df.head(5)

   zipcode  latitude  longitude state  population
0    75001     32.96     -96.84    TX     16287.0
1    75002     33.09     -96.61    TX     71102.0
2    75006     32.96     -96.90    TX     48104.0
3    75007     33.00     -96.90    TX     54448.0
4    75009     33.34     -96.75    TX     24737.0

In [8]:
# Merge lacations table and room tabel
locations_room = locations_df.merge(room_df, how='left', on='zipcode')
locations_room.head(5)

,zipcode,latitude,longitude,state,population,bedroom_number,bathroom_number,lining_space,land_space,year_built
0,75001,32.96,-96.84,TX,16287.0,2.0,3.0,1981.0,1873.0,2003.0
1,75002,33.09,-96.61,TX,71102.0,4.0,3.0,3044.0,3827.0,1976.0
2,75006,32.96,-96.90,TX,48104.0,3.0,2.0,1938.0,5075.0,2001.0
3,75007,33.00,-96.90,TX,54448.0,3.0,2.0,2049.0,6753.0,1915.0
4,75009,33.34,-96.75,TX,24737.0,4.0,4.0,3153.0,5374.0,2000.0

In [9]:
# Merge all dataframe to create our final tabel
TX_Housing_data = locations_room.merge(price_df, how='left', on='zipcode')
TX_Housing_data.head(5)

,zipcode,latitude,longitude,state,population,bedroom_number,bathroom_number,lining_space,land_space,year_built,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,net_income
0,75001,32.96,-96.84,TX,16287.0,2.0,3.0,1981.0,1873.0,2003.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,31081.0
1,75002,33.09,-96.61,TX,71102.0,4.0,3.0,3044.0,3827.0,1976.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,97936.0
2,75006,32.96,-96.90,TX,48104.0,3.0,2.0,1938.0,5075.0,2001.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,115491.0
3,75007,33.00,-96.90,TX,54448.0,3.0,2.0,2049.0,6753.0,1915.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,100570.0
4,75009,33.34,-96.75,TX,24737.0,4.0,4.0,3153.0,5374.0,2000.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,16893.0

In [10]:
TX_Housing_data = TX_Housing_data.dropna()

In [11]:
TX_Housing_data.head(5)

,zipcode,latitude,longitude,state,population,bedroom_number,bathroom_number,lining_space,land_space,year_built,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,net_income
0,75001,32.96,-96.84,TX,16287.0,2.0,3.0,1981.0,1873.0,2003.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,31081.0
1,75002,33.09,-96.61,TX,71102.0,4.0,3.0,3044.0,3827.0,1976.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,97936.0
2,75006,32.96,-96.90,TX,48104.0,3.0,2.0,1938.0,5075.0,2001.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,115491.0
3,75007,33.00,-96.90,TX,54448.0,3.0,2.0,2049.0,6753.0,1915.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,100570.0
4,75009,33.34,-96.75,TX,24737.0,4.0,4.0,3153.0,5374.0,2000.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,16893.0

# Neural Network

In [12]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd

In [13]:
TX_Housing_data.columns

Index(['zipcode', 'latitude', 'longitude', 'state', 'population',
       'bedroom_number', 'bathroom_number', 'lining_space', 'land_space',
       'year_built', 'p_2015', 'p_2016', 'p_2017', 'p_2018', 'p_2019',
       'p_2020', 'p_2021', 'p_2022', 'p_2023', 'net_income'],
      dtype='object')

In [14]:
#focusing on the non float values 
TX_Housing_data = TX_Housing_data[["zipcode", 'population',
       'bedroom_number', 'bathroom_number', 'lining_space', 'land_space',
       'year_built', 'p_2015', 'p_2016', 'p_2017', 'p_2018', 'p_2019',
       'p_2020', 'p_2021', 'p_2022', 'p_2023', 'net_income' ]]

TX_Housing_data.head()

,zipcode,population,bedroom_number,bathroom_number,lining_space,land_space,year_built,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,p_2023,net_income
0,75001,16287.0,2.0,3.0,1981.0,1873.0,2003.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,454387.59,31081.0
1,75002,71102.0,4.0,3.0,3044.0,3827.0,1976.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,464720.11,97936.0
2,75006,48104.0,3.0,2.0,1938.0,5075.0,2001.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,341701.77,115491.0
3,75007,54448.0,3.0,2.0,2049.0,6753.0,1915.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,400732.13,100570.0
4,75009,24737.0,4.0,4.0,3153.0,5374.0,2000.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,557517.04,16893.0

### Step 2: Split the data into X and y variables

In [15]:
# Separate the data into labels and features

# Create a y variable and use the P_2023 column as the label
y = TX_Housing_data["p_2023"].ravel()


# Create an X variable and use all other columns as features
x = TX_Housing_data.drop(columns='p_2023')

In [16]:
# Review the y variable series
y[:]

array([454387.59, 464720.11, 341701.77, ..., 217041.27, 199986.1 ,
       238718.81])

In [17]:
# Review the X variable DataFrame
x.head(5)

,zipcode,population,bedroom_number,bathroom_number,lining_space,land_space,year_built,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,net_income
0,75001,16287.0,2.0,3.0,1981.0,1873.0,2003.0,273859.58,295281.26,319308.56,332937.39,333861.35,339818.07,378728.24,440760.63,31081.0
1,75002,71102.0,4.0,3.0,3044.0,3827.0,1976.0,239753.96,264265.55,284191.72,296218.09,296925.02,305948.22,360917.02,456706.81,97936.0
2,75006,48104.0,3.0,2.0,1938.0,5075.0,2001.0,166228.03,190571.63,211957.41,230517.64,237664.55,247785.26,278907.45,332128.56,115491.0
3,75007,54448.0,3.0,2.0,2049.0,6753.0,1915.0,202984.63,229672.38,252570.85,270069.18,275111.24,285478.08,325031.65,389614.50,100570.0
4,75009,24737.0,4.0,4.0,3153.0,5374.0,2000.0,280691.57,310914.56,336086.42,346691.19,347364.97,354443.47,428784.45,567323.67,16893.0

In [18]:
# Splitting into Train and Test sets
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

In [20]:
x_train

,zipcode,population,bedroom_number,bathroom_number,lining_space,land_space,year_built,p_2015,p_2016,p_2017,p_2018,p_2019,p_2020,p_2021,p_2022,net_income
63,75116,21105.0,3.0,2.0,1920.0,3366.0,1921.0,112547.58,127567.63,143576.97,163077.42,177476.69,188006.31,218250.76,262955.42,51910.0
451,76633,6286.0,4.0,3.0,2538.0,3.0,1976.0,198138.56,211794.77,238193.29,260032.61,280345.36,303419.31,356118.22,423530.79,8502.0
54,75092,26794.0,4.0,3.0,2319.0,3062.0,1955.0,137367.39,151729.27,168172.18,185329.10,192599.85,202038.95,235124.93,280296.37,50849.0
36,75063,43705.0,4.0,3.0,2633.0,4691.0,1994.0,334569.82,357156.29,376060.88,390414.56,393473.81,406633.65,458117.66,562247.53,46887.0
1123,79705,40134.0,4.0,3.0,2497.0,5311.0,1991.0,250863.78,239724.54,240061.03,264612.18,297111.30,308241.11,304087.69,313543.20,58492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,76707,16430.0,3.0,2.0,1626.0,6364.0,1998.0,56729.79,60407.06,67479.75,76232.85,85536.30,96828.74,117447.70,141032.55,51616.0
693,77551,23686.0,3.0,2.0,1477.0,3692.0,1952.0,129053.15,138689.32,153287.56,162460.63,170562.31,184255.37,216874.99,263753.33,52326.0
805,78112,10087.0,3.0,2.0,1655.0,2060.0,1898.0,130950.74,143258.93,153393.75,166440.94,170352.52,184011.33,211196.13,239089.79,22492.0
466,76667,10385.0,3.0,2.0,1843.0,2365.0,1993.0,80334.48,81036.71,81003.27,84609.87,87361.95,92516.38,108247.19,126690.46,28854.0
58,75103,15900.0,3.0,2.0,2215.0,1174.0,2006.0,149899.70,157664.09,172111.35,186783.06,200317.45,218790.23,257508.94,295921.07,27534.0

In [21]:
# Reset index 
x_train = x_train.reset_index(drop=True)

In [22]:
0 in x_train.index

True

In [26]:
len(x_train.columns)

16

## Compile, Train and Evaluate the Model

In [31]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = len(x_train.columns)
layer_1 = 80
layer_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_1,
                          input_dim=number_features,
                          activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_2,
                          input_dim=layer_1,
                          activation='relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,
                          input_dim=layer_2,
                          activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                1360

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 3821 (14.93 KB)
Trainable params: 3821 (14.93 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [33]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
28/28 [==============================] - 1s 2ms/step - loss: -372696.7812 - accuracy: 0.0000e+00
Epoch 2/100
28/28 [==============================] - 0s 2ms/step - loss: -1615677.3750 - accuracy: 0.0000e+00
Epoch 3/100
28/28 [==============================] - 0s 2ms/step - loss: -4605707.0000 - accuracy: 0.0000e+00
Epoch 4/100
28/28 [==============================] - 0s 2ms/step - loss: -10925173.0000 - accuracy: 0.0000e+00
Epoch 5/100
28/28 [==============================] - 0s 2ms/step - loss: -23077998.0000 - accuracy: 0.0000e+00
Epoch 6/100
28/28 [==============================] - 0s 2ms/step - loss: -42556056.0000 - accuracy: 0.0000e+00
Epoch 7/100
28/28 [==============================] - 0s 2ms/step - loss: -72871808.0000 - accuracy: 0.0000e+00
Epoch 8/100
28/28 [==============================] - 0s 2ms/step - loss: -116212992.0000 - accuracy: 0.0000e+00
Epoch 9/100
28/28 [==============================] - 0s 2ms/step - loss: -174450512.0000 - accuracy: 0.0000e+00
Epoch 10/100
28/28 [==============================] - 0s 2ms/step - loss: -249645360.0000 - accuracy: 0.0000e+00
Epoch 11/100
28/28 [==============================] - 0s 2ms/step - loss: -340685408.0000 - accuracy: 0.0000e+00
Epoch 12/100
28/28 [==============================] - 0s 2ms/step - loss: -446404256.0000 - accuracy: 0.0000e+00
Epoch 13/100
28/28 [==============================] - 0s 2ms/step - loss: -574839168.0000 - accuracy: 0.0000e+00
Epoch 14/100
28/28 [==============================] - 0s 2ms/step - loss: -732487488.0000 - accuracy: 0.0000e+00
Epoch 15/100
28/28 [==============================] - 0s 2ms/step - loss: -915061760.0000 - accuracy: 0.0000e+00
Epoch 16/100
28/28 [==============================] - 0s 2ms/step - loss: -1130381184.0000 - accuracy: 0.0000e+00
Epoch 17/100
28/28 [==============================] - 0s 2ms/step - loss: -1369068160.0000 - accuracy: 0.0000e+00
Epoch 18/100
28/28 [==============================] - 0s 2ms/step - loss: -1646537856.0000 - accuracy: 0.0000e+00
Epoch 19/100
28/28 [==============================] - 0s 2ms/step - loss: -1939783808.0000 - accuracy: 0.0000e+00
Epoch 20/100
28/28 [==============================] - 0s 2ms/step - loss: -2279702016.0000 - accuracy: 0.0000e+00
Epoch 21/100
28/28 [==============================] - 0s 2ms/step - loss: -2642215424.0000 - accuracy: 0.0000e+00
Epoch 22/100
28/28 [==============================] - 0s 2ms/step - loss: -3078687488.0000 - accuracy: 0.0000e+00
Epoch 23/100
28/28 [==============================] - 0s 2ms/step - loss: -3518673920.0000 - accuracy: 0.0000e+00
Epoch 24/100
28/28 [==============================] - 0s 2ms/step - loss: -4011747072.0000 - accuracy: 0.0000e+00
Epoch 25/100
28/28 [==============================] - 0s 2ms/step - loss: -4539533312.0000 - accuracy: 0.0000e+00
Epoch 26/100
28/28 [==============================] - 0s 2ms/step - loss: -5116249600.0000 - accuracy: 0.0000e+00
Epoch 27/100
28/28 [==============================] - 0s 2ms/step - loss: -5731730432.0000 - accuracy: 0.0000e+00
Epoch 28/100
28/28 [==============================] - 0s 2ms/step - loss: -6382342656.0000 - accuracy: 0.0000e+00
Epoch 29/100
28/28 [==============================] - 0s 2ms/step - loss: -7065837056.0000 - accuracy: 0.0000e+00
Epoch 30/100
28/28 [==============================] - 0s 2ms/step - loss: -7827112960.0000 - accuracy: 0.0000e+00
Epoch 31/100
28/28 [==============================] - 0s 2ms/step - loss: -8575243264.0000 - accuracy: 0.0000e+00
Epoch 32/100
28/28 [==============================] - 0s 2ms/step - loss: -9452331008.0000 - accuracy: 0.0000e+00
Epoch 33/100
28/28 [==============================] - 0s 2ms/step - loss: -10312097792.0000 - accuracy: 0.0000e+00
Epoch 34/100
28/28 [==============================] - 0s 2ms/step - loss: -11270732800.0000 - accuracy: 0.0000e+00
Epoch 35/100
28/28 [==============================] - 0s 2ms/step - loss: -12239916032.0000 - accuracy: 0.0000e+00
Epoch 36/100
28/28 [==============================] - 0s 2ms/step - loss: -13266205696.0000 - accuracy: 0.0000e+00
Epoch 37/100
28/28 [==============================] - 0s 2ms/step - loss: -14348505088.0000 - accuracy: 0.0000e+00
Epoch 38/100
28/28 [==============================] - 0s 2ms/step - loss: -15507629056.0000 - accuracy: 0.0000e+00
Epoch 39/100
28/28 [==============================] - 0s 2ms/step - loss: -16730416128.0000 - accuracy: 0.0000e+00
Epoch 40/100
28/28 [==============================] - 0s 2ms/step - loss: -18010423296.0000 - accuracy: 0.0000e+00
Epoch 41/100
28/28 [==============================] - 0s 2ms/step - loss: -19344764928.0000 - accuracy: 0.0000e+00
Epoch 42/100
28/28 [==============================] - 0s 2ms/step - loss: -20728268800.0000 - accuracy: 0.0000e+00
Epoch 43/100
28/28 [==============================] - 0s 2ms/step - loss: -22219757568.0000 - accuracy: 0.0000e+00
Epoch 44/100
28/28 [==============================] - 0s 2ms/step - loss: -23711662080.0000 - accuracy: 0.0000e+00
Epoch 45/100
28/28 [==============================] - 0s 2ms/step - loss: -25337344000.0000 - accuracy: 0.0000e+00
Epoch 46/100
28/28 [==============================] - 0s 2ms/step - loss: -26980065280.0000 - accuracy: 0.0000e+00
Epoch 47/100
28/28 [==============================] - 0s 2ms/step - loss: -28689432576.0000 - accuracy: 0.0000e+00
Epoch 48/100
28/28 [==============================] - 0s 2ms/step - loss: -30491711488.0000 - accuracy: 0.0000e+00
Epoch 49/100
28/28 [==============================] - 0s 2ms/step - loss: -32318795776.0000 - accuracy: 0.0000e+00
Epoch 50/100
28/28 [==============================] - 0s 2ms/step - loss: -34290077696.0000 - accuracy: 0.0000e+00
Epoch 51/100
28/28 [==============================] - 0s 2ms/step - loss: -36225433600.0000 - accuracy: 0.0000e+00
Epoch 52/100
28/28 [==============================] - 0s 2ms/step - loss: -38286082048.0000 - accuracy: 0.0000e+00
Epoch 53/100
28/28 [==============================] - 0s 2ms/step - loss: -40375304192.0000 - accuracy: 0.0000e+00
Epoch 54/100
28/28 [==============================] - 0s 2ms/step - loss: -42543636480.0000 - accuracy: 0.0000e+00
Epoch 55/100
28/28 [==============================] - 0s 5ms/step - loss: -44747907072.0000 - accuracy: 0.0000e+00
Epoch 56/100
28/28 [==============================] - 0s 3ms/step - loss: -47021068288.0000 - accuracy: 0.0000e+00
Epoch 57/100
28/28 [==============================] - 0s 2ms/step - loss: -49355452416.0000 - accuracy: 0.0000e+00
Epoch 58/100
28/28 [==============================] - 0s 2ms/step - loss: -51884089344.0000 - accuracy: 0.0000e+00
Epoch 59/100
28/28 [==============================] - 0s 2ms/step - loss: -54351867904.0000 - accuracy: 0.0000e+00
Epoch 60/100
28/28 [==============================] - 0s 2ms/step - loss: -56953102336.0000 - accuracy: 0.0000e+00
Epoch 61/100
28/28 [==============================] - 0s 2ms/step - loss: -59610271744.0000 - accuracy: 0.0000e+00
Epoch 62/100
28/28 [==============================] - 0s 2ms/step - loss: -62273638400.0000 - accuracy: 0.0000e+00
Epoch 63/100
28/28 [==============================] - 0s 2ms/step - loss: -65038794752.0000 - accuracy: 0.0000e+00
Epoch 64/100
28/28 [==============================] - 0s 2ms/step - loss: -67835314176.0000 - accuracy: 0.0000e+00
Epoch 65/100
28/28 [==============================] - 0s 2ms/step - loss: -70746587136.0000 - accuracy: 0.0000e+00
Epoch 66/100
28/28 [==============================] - 0s 2ms/step - loss: -73704480768.0000 - accuracy: 0.0000e+00
Epoch 67/100
28/28 [==============================] - 0s 2ms/step - loss: -76703670272.0000 - accuracy: 0.0000e+00
Epoch 68/100
28/28 [==============================] - 0s 2ms/step - loss: -79868616704.0000 - accuracy: 0.0000e+00
Epoch 69/100
28/28 [==============================] - 0s 2ms/step - loss: -83002449920.0000 - accuracy: 0.0000e+00
Epoch 70/100
28/28 [==============================] - 0s 2ms/step - loss: -86215688192.0000 - accuracy: 0.0000e+00
Epoch 71/100
28/28 [==============================] - 0s 2ms/step - loss: -89656442880.0000 - accuracy: 0.0000e+00
Epoch 72/100
28/28 [==============================] - 0s 2ms/step - loss: -93218390016.0000 - accuracy: 0.0000e+00
Epoch 73/100
28/28 [==============================] - 0s 2ms/step - loss: -96786079744.0000 - accuracy: 0.0000e+00
Epoch 74/100
28/28 [==============================] - 0s 2ms/step - loss: -100339146752.0000 - accuracy: 0.0000e+00
Epoch 75/100
28/28 [==============================] - 0s 2ms/step - loss: -103920525312.0000 - accuracy: 0.0000e+00
Epoch 76/100
28/28 [==============================] - 0s 3ms/step - loss: -107751677952.0000 - accuracy: 0.0000e+00
Epoch 77/100
28/28 [==============================] - 0s 2ms/step - loss: -111425249280.0000 - accuracy: 0.0000e+00
Epoch 78/100
28/28 [==============================] - 0s 2ms/step - loss: -115160973312.0000 - accuracy: 0.0000e+00
Epoch 79/100
28/28 [==============================] - 0s 2ms/step - loss: -119181672448.0000 - accuracy: 0.0000e+00
Epoch 80/100
28/28 [==============================] - 0s 2ms/step - loss: -122988511232.0000 - accuracy: 0.0000e+00
Epoch 81/100
28/28 [==============================] - 0s 2ms/step - loss: -127037530112.0000 - accuracy: 0.0000e+00
Epoch 82/100
28/28 [==============================] - 0s 2ms/step - loss: -131123093504.0000 - accuracy: 0.0000e+00
Epoch 83/100
28/28 [==============================] - 0s 2ms/step - loss: -135436926976.0000 - accuracy: 0.0000e+00
Epoch 84/100
28/28 [==============================] - 0s 2ms/step - loss: -139741069312.0000 - accuracy: 0.0000e+00
Epoch 85/100
28/28 [==============================] - 0s 2ms/step - loss: -144069640192.0000 - accuracy: 0.0000e+00
Epoch 86/100
28/28 [==============================] - 0s 2ms/step - loss: -148595671040.0000 - accuracy: 0.0000e+00
Epoch 87/100
28/28 [==============================] - 0s 2ms/step - loss: -152994299904.0000 - accuracy: 0.0000e+00
Epoch 88/100
28/28 [==============================] - 0s 2ms/step - loss: -157452632064.0000 - accuracy: 0.0000e+00
Epoch 89/100
28/28 [==============================] - 0s 2ms/step - loss: -162063679488.0000 - accuracy: 0.0000e+00
Epoch 90/100
28/28 [==============================] - 0s 2ms/step - loss: -166696386560.0000 - accuracy: 0.0000e+00
Epoch 91/100
28/28 [==============================] - 0s 2ms/step - loss: -171306385408.0000 - accuracy: 0.0000e+00
Epoch 92/100
28/28 [==============================] - 0s 2ms/step - loss: -176139583488.0000 - accuracy: 0.0000e+00
Epoch 93/100
28/28 [==============================] - 0s 2ms/step - loss: -181018034176.0000 - accuracy: 0.0000e+00
Epoch 94/100
28/28 [==============================] - 0s 2ms/step - loss: -185965772800.0000 - accuracy: 0.0000e+00
Epoch 95/100
28/28 [==============================] - 0s 2ms/step - loss: -191120162816.0000 - accuracy: 0.0000e+00
Epoch 96/100
28/28 [==============================] - 0s 2ms/step - loss: -196293279744.0000 - accuracy: 0.0000e+00
Epoch 97/100
28/28 [==============================] - 0s 2ms/step - loss: -201443917824.0000 - accuracy: 0.0000e+00
Epoch 98/100
28/28 [==============================] - 0s 2ms/step - loss: -206833598464.0000 - accuracy: 0.0000e+00
Epoch 99/100
28/28 [==============================] - 0s 2ms/step - loss: -212215185408.0000 - accuracy: 0.0000e+00
Epoch 100/100
28/28 [==============================] - 0s 2ms/step - loss: -217768738816.0000 - accuracy: 0.0000e+00

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

10/10 - 0s - loss: -2.3982e+11 - accuracy: 0.0000e+00 - 125ms/epoch - 12ms/step
Loss: -239815524352.0, Accuracy: 0.0

# Conclusion

The training results indicate a perplexing outcome, with a loss value of -239815524352.0 and an accuracy of 0.0. The negative loss value might be indicative of an issue, as losses are typically non-negative values. This could suggest a problem with the choice of loss function or potential numerical instability during training.

Moreover, an accuracy of 0.0 raises concerns about the model's inability to correctly classify any instances in the dataset during training. This might be attributed to various issues, such as a highly imbalanced dataset, incorrect model architecture, or inappropriate hyperparameter choices.

The training duration, with 125ms per epoch and 12ms per step, seems relatively fast, but the apparent lack of improvement in accuracy prompts further investigation into the training process and model configuration.

In conclusion, the reported results indicate a need for a careful examination of the model, including the choice of loss function, dataset characteristics, and hyperparameters, to address the unexpected negative loss value and lack of accuracy improvement during training. Adjustments and troubleshooting in these areas are likely necessary to achieve a more meaningful and reliable model.